/*----------------------*/ 
/*   SELECTION          */ 
/*----------------------*/

::-moz-selection
	background $dwhite
	color $black

::selection
	background $dwhite
	color $black


/*----------------------*/ 
/*   ADDITIONAL         */ 
/*----------------------*/

.padding
	padding 85px 0
	overflow hidden

.text-right
	text-align right
	
.text-left
	text-align left

.text-center
	text-align center

.section-light
	background-color #f7f7f7

.section-dark
	background-color lighten($black, 2%)

.cwhite
	color $white

.ccolor
	color $color

.border-bottom
	border-bottom 1px solid #f2f2f2

.border-top
	border-top 1px solid #f2f2f2

.uppercase
	text-transform uppercase

.jarallax
	position relative
	overflow hidden
	background-size cover
	background-position center center
	

/*----------------------*/ 
/*   PRELOADER          */ 
/*----------------------*/

$circleOne = 80px
$circleTwo = 60px

.preloader
	position fixed
	top 50%
	left 50%
	height $circleOne
	width $circleOne
	margin-top -($circleOne/2)
	margin-left -($circleOne/2)
	z-index 9999
	&::before, &::after
		content ''
		display block
		position absolute
		border-radius 50%
		background-color $white
		top 50%
		left 50%
	&::before
		height $circleOne
		width $circleOne
		margin-left -($circleOne/2)
		margin-top -($circleOne/2)
		box-shadow 0px -4px 8px 0px rgba(0, 0, 0, 0.08)
		animation spinTwo 3s infinite	
	&::after
		height $circleTwo
		width $circleTwo
		margin-left -($circleTwo/2)
		margin-top -($circleTwo/2)
		box-shadow 0px -4px 8px 0px rgba(0, 0, 0, 0.08)
		animation spinTwo 5s infinite

@keyframes spinOne
	100%
		transform rotate(360deg)

@keyframes spinTwo
	100%
		transform rotate(-360deg)

/*----------------------*/ 
/*   SCROLL-TO-TOP      */ 
/*----------------------*/

.scroll-top
	-moz-appearance none
	appearance none
	-webkit-appearance none
	cursor pointer
	transition all .3s ease-in-out
	color $lgray
	text-transform uppercase
	font-weight 600
	font-size 10px
	letter-spacing 1px
	&:hover
		color $black
		
/*----------------------*/ 
/*   FANCYBOX           */ 
/*----------------------*/

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
	padding 0
	margin 0
	border 0
	outline none
	vertical-align top

.fancybox-wrap
	position absolute
	top 0
	left 0
	z-index 8020

.fancybox-skin
	position relative

.fancybox-opened
	z-index 8030

.fancybox-outer, .fancybox-inner
	position relative

.fancybox-inner
	overflow hidden

.fancybox-type-iframe
	.fancybox-inner
		-webkit-overflow-scrolling touch

.fancybox-error
	font-size 12px
	text-transform uppercase
	letter-spacing 2px
	color $black

.fancybox-image, .fancybox-iframe
	display block
	width 100%
	height 100%

.fancybox-image
	max-width 100%
	max-height 100%

#fancybox-loading
	position fixed
	top 50%
	left 50%
	margin-top -20px
	margin-left -20px
	z-index 8060
	
#fancybox-loading div
	width 40px
	width 40px
	background-color rgba($white, 90%)
	text-align center
	line-height 40px
	&::before
		content '\e72b'
		font-family 'Themify'
		animation fa-spin 2s infinite

.fancybox-nav
	position absolute
	top 0
	width 40%
	height 100%
	cursor pointer
	z-index 8040
	span
		position absolute
		top 50%
		height 40px
		width 40px
		background-color $white
		color $black
		font-size 14px
		text-align center
		line-height 40px
		margin-top -20px
		cursor pointer
		z-index 8040
		opacity 0
		transition all .3s ease-in-out
		&:hover
			opacity 1

.fancybox-prev 
	left 0
	span
		left -20px
		&::after
			content '\e662'
			font-family 'themify'
	&:hover
		span
			left 0
			opacity .9
			
.fancybox-next 
	right 0
	span
		right -20px
		&::after
			content '\e661'
			font-family 'themify'
	&:hover
		span
			right 0
			opacity .9

.fancybox-tmp
	position absolute
	top -99999px
	left -99999px
	visibility hidden
	max-width 99999px
	max-height 99999px
	overflow visible !important

.fancybox-lock
	overflow hidden !important
	width auto
	max-width 100%
	body
		overflow hidden !important
	.fancybox-overlay
		overflow auto
		overflow-y scroll

.fancybox-lock-test
	overflow-y hidden !important

.fancybox-overlay
	position absolute
	top 0
	left 0
	overflow hidden
	display none
	z-index 8010
	background-color rgba($white, 90%)

.fancybox-overlay-fixed
	position fixed
	bottom 0
	right 0

.fancybox-title
	display block
	padding-top 10px
	font-size 12px
	font-weight 600
	letter-spacing 3px
	text-transform uppercase
	color $black
	z-index 8050
	text-align center
	font-family $f1
	

/*----------------------*/ 
/*   TOOLTIP            */ 
/*----------------------*/

.vl-tooltip
	border-radius 0px
	border none
	z-index 222 !important
	background-color $black
	color rgba($lwhite, 90%)

.vl-tooltip .tooltipster-content
	font-family $f1
	font-size 10px
	font-weight 600
	letter-spacing 3px
	line-height 2em
	text-transform uppercase
	padding 3px 10px 3px 13px


/*----------------------*/ 
/*   FLEXSLIDER         */ 
/*----------------------*/

dots()
	height 10px
	width 10px
	display block
	border none
	opacity 1
	border-radius 0px
	box-shadow 0 3px 6px rgba($black, 20%)
	background-color $dwhite
	
.flexslider ul
	margin 0
	padding 0
	list-style-type none
	&::after
		display table
		clear both
		content ''		

.flex-prev,
.flex-next
	position absolute
	top 50%
	margin-top -20px
	opacity 0
	z-index 55
	height 40px
	width 40px
	background-color $white
	color $black
	font-size 14px
	text-align center
	line-height 40px
	&:hover
		opacity 1
	&:active
		opacity .7

.flex-prev
	left -20px
	&::after
		content '\e662'
		font-family 'themify'
.flex-next
	right -20px
	&::after
		content '\e661'
		font-family 'themify'

.flexslider
	overflow hidden
	&:hover	
		.flex-prev,
		.flex-next
			opacity .9
		.flex-prev
			left 0
		.flex-next
			right 0

.image-slider-wrap
	overflow hidden
	position relative
	text-align center
	margin-bottom 20px
	.blind-01, 
	.blind-02
		position absolute
		top 0
		left 0
		height 100%
		width 100%
		transform translateX(-100%)
	.blind-01
		background-color $dwhite
		z-index 40
	.blind-02
		background-color $black
		z-index 45	
	.flex-control-nav
		display inline-block
		list-style-type none
		padding 0
		margin 15px 0 0
		li
			float left
			margin 0 6px
			a
				dots()
				text-indent 9999px
				&.flex-active
					background-color $gray
					

/*----------------------*/ 
/*   SWIPER PAGINATION  */ 
/*----------------------*/

.swiper-pagination-bullet
	dots()

.swiper-pagination-bullet-active
	background-color $gray

.swiper-pagination-bullets span
	display inline-block
	margin 0 6px


/*----------------------*/ 
/*   BOOTSTRAP DEMO     */ 
/*----------------------*/

.grid-ex
	min-height 55px
	line-height 55px
	letter-spacing 3px
	text-align center
	color $black
	background-color $dwhite
	margin-bottom 30px
	
/*----------------------*/ 
/*   PAGE 404           */ 
/*----------------------*/

.aligner
	display -ms-flexbox
	display -webkit-flex
	display flex
	-webkit-flex-direction row
	-ms-flex-direction row
	flex-direction row
	-webkit-flex-wrap wrap-reverse
	-ms-flex-wrap wrap-reverse
	flex-wrap wrap-reverse
	-webkit-justify-content center
	-ms-flex-pack center
	justify-content center
	-webkit-align-content space-around
	-ms-flex-line-pack distribute
	align-content space-around
	-webkit-align-items center
	-ms-flex-align center
	align-items center
	min-height 100vh
	background-size cover
	background-position center center
	background-repeat no-repeat
	padding 70px 0
	
.aligner-item
	-webkit-order 0
	-ms-flex-order 0
	order 0
	-webkit-flex 0 1 auto
	-ms-flex 0 1 auto
	flex 0 1 auto
	-webkit-align-self auto
	-ms-flex-item-align auto
	align-self auto

.page-error 
	i
		position relative
		display inline-block
		transition: all .3s ease-in-out
	a
		color $color
		font-size 36px
		&:hover i
			transform rotateY(180deg)
	.error-title
		margin 20px 0
	.error-description
		margin 0
		

/*----------------------*/ 
/*   PREV / NEXT        */ 
/*----------------------*/

.previous-post,
.next-post,
.all-posts
	font-size 18px
	line-height 1em
	text-align left
	overflow hidden
	i
		margin-right 6px
		font-size 14px
	a
		position relative
		display inline-block
		font-family $f1
		font-weight 600
		transition color .4s ease, transform .4s ease
		&::before
			content attr(data-hover-text)
			font-weight 600
			font-family $f1
			color $color
			position absolute
			transform translateY(-15px)
			transition opacity .4s ease, transform .4s ease
			opacity 0
		&:hover
			transform translateY(15px)
			color transparent !important
			&::before
				opacity 1 !important

.all-posts
	text-align center
	a
		font-weight 400
		&::before
			content '\e738'
			font-family 'Themify'
			font-weight 400
		i
			font-size inherit
			margin 0 !important

.next-post
	text-align right
	i
		margin-right 0
		margin-left 6px
		

/*----------------------*/ 
/*   PAGINATION         */ 
/*----------------------*/

.pagination 
	display inline-block
	font-family $f1
	list-style-type none
	padding 0
	margin 0
	margin-top 40px
	li
		float left
		&.disabled:hover a, 
		&.disabled a
			color $gray
			background-color lighten($dwhite, 10%)
			cursor default
		&.active a, 
		&:hover a
			color $white
			background-color $black
		a, span
			background-color $dwhite
			color $gray
			text-align center
			display block
			min-width 40px
			padding 6px 16px
			
/*----------------------*/ 
/*   PLAY BUTTON        */ 
/*----------------------*/

.video-play-button
	position relative
	display inline-block
	height 100px
	width 100px
	line-height 100px
	border-radius 50%
	text-align center
	font-size 60px
	color $white
	background-color $color
	i
		position relative
		top 6px
		left 5px
	&::before
		content ''
		position absolute
		z-index -1
		left 50%
		top 50%
		transform translateX(-50%) translateY(-50%)
		width 100px
		height 100px
		background-color lighten($color, 50%)
		border-radius 50%
		display block
		animation pulse-border 1.5s ease-out infinite
	&:hover
		background-color darken($color, 3%)
		color $white

@keyframes pulse-border
	0%
		transform translateX(-50%) translateY(-50%) translateZ(0) scale(1)
		opacity 1
	100%
		transform translateX(-50%) translateY(-50%) translateZ(0) scale(1.5)
		opacity 0
		

