/*----------------------*/ 
/*   BLOG MINIMAL       */ 
/*----------------------*/

.blog-modern .post
	border-bottom 1px solid $dwhite

.blog-modern .post-thumb
	overflow hidden
	position relative

.blog-modern .post-content
	padding 80px 0

.blog-modern
	.post-date
		font-family $f1
		font-weight 600
		color $black
		font-size 12px
		letter-spacing 3px
	.post-title
		font-family $f2
		font-weight 400
		letter-spacing 0
		a:hover
			color $color
	.post-meta
		margin-bottom 50px
		font-family $f1
		a
			font-family $f2
			font-style italic
			color $gray
			&:hover
				color $black
	.post-cat a + a::before
		content ','
		padding-right 4px
	

/*----------------------*/ 
/*   BLOG MINIMAL       */ 
/*----------------------*/

.blog-minimal .post
	border-bottom 1px solid $dwhite
	background-size cover
	background-position center center
	background-repeat no-repeat
	position relative
	&::after
		content ''
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background-color $white
		z-index 1
		transition all .3s ease-in-out
	> div
		position relative
		z-index 4

.blog-minimal .post-content
	padding 110px 0
	text-align center
	
.blog-minimal
	.post-date
		font-family $f1
		font-weight 600
		color $black
		font-size 12px
		opacity 0
		transition all .25s ease
		transform translateY(5px)
		letter-spacing 3px
	.post-title
		font-family $f2
		font-weight 400
		letter-spacing 0
		a:hover
			color $color
	.post-meta
		margin 0
		font-family $f1
		a
			font-family $f2
			font-style italic
			color $gray
			&:hover
				color $black
	.post-cat a + a::before
		content ','
		padding-right 4px


.post.hovered::after
	opacity .9 !important


.blog-minimal .post:hover
	.post-date
		transform translateY(0)
		opacity 1
	&::after
		opacity 0

/*----------------------*/ 
/*   BLOG DEFAULT       */ 
/*----------------------*/

.blog-default
	.post
		margin-bottom 30px
		width 33.333%
		float left
		padding 0 15px
	.masonry-wrap
		position relative

@media (max-width: 74.9em)
	.blog-default .post
		width 50%

@media (max-width: 47.9em)
	.blog-default .post
		width 100%

.blog-default
	.post-thumb
		position relative
		background-color $dwhite

.blog-default 
	.post-content
		background-color lighten($dwhite, 80%)
		padding 50px 20px 30px
		text-align center

.blog-default
	.post-date
		position absolute
		bottom 0
		left 50%
		margin-left -30px
		margin-bottom -30px
		box-shadow 0 2px 4px rgba($black, 30%)
		height 60px
		width 60px
		border-radius 50%
		background-color $black
		color $white
		text-align center
		text-transform uppercase
		padding-top 10px
		line-height 20px
		font-family $f1
		font-size 12px
		letter-spacing 1px
		span
			display block
		span:nth-child(2)
			font-size 16px
	.post-title
		font-family $f2
		font-size 24px
		font-weight 400
		letter-spacing 0
		a:hover
			color $color
	.post-meta
		margin-bottom 20px
		font-family $f1
		a
			font-family $f2
			font-style italic
			color $gray
			&:hover
				color $black
	.post-cat a + a::before
		content ','
		padding-right 4px
	.post-excerpt
		margin 0

/*----------------------*/ 
/*   LOAD MORE SPINNER  */ 
/*----------------------*/

.load-more-spinner
	margin-top 40px
	text-align center
	display none
	i
		height 6px
		display inline-block
		width 6px
		border-radius 50%
		background-color $color
		margin 0 2px
		&:nth-child(1)
			animation blind .8s 0s infinite
		&:nth-child(2)
			animation blind .8s .2s infinite
		&:nth-child(3)
			animation blind .8s .4s infinite
			
@keyframes blind
	0%
		opacity 0
	50%
		opacity 1
	100%
		opacity 0
		


/*----------------------*/ 
/*   SINGLE POST        */ 
/*----------------------*/


.single-post-wrap
	padding-top 150px
	padding-bottom 70px

@media (max-width: 47.9em)
	.sidebar-fixed
		margin-top 60px
	.single-post-wrap
		padding-top 70px

.single-post
	margin-bottom 50px
	.post-date
		font-family $f1
		font-weight 600
		color $black
		font-size 12px
		letter-spacing 3px
		cursor default
	.post-content
		background-color lighten($dwhite, 80%)
		padding 50px 40px 30px
	.post-title
		font-family $f2
		cursor default
		font-size 24px
		font-weight 400
		letter-spacing 0
		margin-bottom 50px
		
.entry-tags,
.entry-footer,
.author-info,
.comments-area
	margin-top 50px
	a:hover
		color $color

.entry-footer
	margin-top 30px

.post-navigation
	margin-bottom 50px

.entry-footer 
	h5, .icon-list-default
		display inline-block
	h5
		margin-right 6px
		margin 0
	span + span
		margin-left 12px
	span i
		margin-right 6px
	
$avatar-size = 100px

.author-info
	padding 40px
	background-color lighten($dwhite, 80%)
	position relative
	.author-avatar
		float left
		height $avatar-size
		width $avatar-size
		img
			border-radius 50%
	.author-description
		margin-left $avatar-size + 40px
		
.comment-reply-title
	margin-bottom 30px
	


@media (max-width: 47.9em)
	.author-info
		.author-avatar
			float none
			margin 0 auto
		.author-description
			margin 30px 0 0 0
			text-align center
	.entry-footer 
		.pull-right, .pull-left
			float none
	.entry-share-links
		margin-top 20px
	.post-content
		background-color transparent !important
		padding 50px 0 30px !important