$gutter = 10px

/*----------------------*/
/*   GALLERY            */
/*----------------------*/

.gallery-list
	position relative
	overflow hidden
	padding $gutter
	margin -($gutter)
	

/*----------------------*/
/*   GALLERY ITEM       */
/*----------------------*/

.gallery-image-wrap a
	position relative
	overflow hidden !important
	background-color $dwhite

.gallery-image-wrap img
	vertical-align bottom
