/*----------------------*/ 
/*   CONTENT FRAME      */ 
/*----------------------*/

$frame-wh = 20px
$menu-h = 80px

.content
	padding $frame-wh
	overflow hidden
	position relative

.frame-line
	position fixed
	left 0
	right 0
	display block
	background-color $dwhite
	z-index 888
	transition all .6s .2s ease
	&.top-frame
		height $frame-wh
		top -($frame-wh)
	&.bottom-frame
		height $frame-wh
		bottom -($frame-wh)
	&.right-frame
		width $frame-wh
		right -($frame-wh)
		height 100%
		left auto
		top 0
	&.left-frame
		width $frame-wh
		left -($frame-wh)
		height 100%
		right auto
		top 0
	
// body.loading-end
body
	.frame-line
		&.top-frame
			top 0
		&.bottom-frame
			bottom 0
		&.right-frame
			right 0
		&.left-frame
			left 0

@media (max-width: 47.9em)
	.frame-line
		display none
	.content
		padding 0

/*----------------------*/ 
/*   LOGO               */ 
/*----------------------*/

.logo
	text-decoration none
	display block
	vertical-align middle
	position relative
	float left
	line-height 1em
	color $black
	font-size 28px
	font-weight 600
	span
		position relative
		display inline-block
		transition: all .3s ease-in-out

.logo:hover
	color $black !important
	span
		transform rotateY(180deg)


/*----------------------*/ 
/*   HEADER             */ 
/*----------------------*/

.header-wrap
	position relative
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none
	top $frame-wh
	padding-top 15px
	left 0
	width 100%
	z-index 555
	background-color transparent
	transition all .3s ease-in-out

.header-wrap .logo
	line-height $menu-h

.header-fixed,
.header-scroll-up
	position fixed

.header-fixed.fixedheader
	background-color $white
	padding-top 0

.header-scroll-up
	padding 0

@media (min-width: 48em)
	.header-scroll-up.scroll-down
		transform translateY(-100%)
		opacity 0

.header-scroll-up.fixedheader.scroll-up
	background-color $white
	opacity 1


@media (max-width: 47.9em)
	.header-fixed, .header-scroll-up
		position static

/*----------------------*/ 
/*   MENU TOGGLE        */ 
/*----------------------*/

.menu-toggle
	display inline-block
	line-height $menu-h
	float right


.header-wrap.minimal-menu
	.menu-toggle:not(.mobile-menu-toggle)
		margin-left 40px
		display inline-block

.header-wrap:not(.minimal-menu) .menu-toggle:not(.mobile-menu-toggle)
	display none

.menu-bars
	position relative
	display inline-block
	width 1em
	height 1em
	padding 0
	margin-top -1px
	vertical-align middle
	font-size 14px
	> i
		position absolute
		left 0
		width 1em
		height 2px
		display inline-block
		transition all .3s ease-in-out
		background-color $black
		&:first-child
			top 0
		&:nth-child(2)
			top 50%
		&:last-child
			top 100%

.nav-open 
	.menu-toggle.desctop-menu .menu-bars
		> i:first-child
			transform rotate(-135deg)
		> i:nth-child(2)
			opacity 0			
		> i:last-child
			transform rotate(135deg)
		> i:first-child,
		> i:last-child
			top 0
			margin-top .333333em


.nav-mobile-open
	.menu-toggle.mobile-menu-toggle .menu-bars
		> i:first-child
			transform rotate(-135deg)
		> i:nth-child(2)
			opacity 0			
		> i:last-child
			transform rotate(135deg)
		> i:first-child,
		> i:last-child
			top 0
			margin-top .333333em


	
/*----------------------*/ 
/*   DEFAULT MENU       */ 
/*----------------------*/

.primary-menu
	float right


@media (min-width: 48em)
	.header-wrap.minimal-menu .primary-menu
		visibility hidden
		transition opacity .45s ease-in-out
	.header-wrap.minimal-menu .primary-menu > ul > li > a
		left 15px
		opacity 0
		transition all .25s ease-in-out
	.nav-open .header-wrap.minimal-menu .primary-menu
		visibility visible
		> ul > li > a
			left 0
			opacity 1
	.header-wrap.minimal-menu .primary-menu > ul > li:nth-child(1n) > a
		transition-delay 50ms

	.header-wrap.minimal-menu .primary-menu > ul > li:nth-child(2n) > a
		transition-delay 100ms
		
	.header-wrap.minimal-menu .primary-menu > ul > li:nth-child(3n) > a
		transition-delay 150ms

	.header-wrap.minimal-menu .primary-menu > ul > li:nth-child(4n) > a
		transition-delay 200ms

	.header-wrap.minimal-menu .primary-menu > ul > li:nth-child(5n) > a
		transition-delay 250ms

	.header-wrap.minimal-menu .primary-menu > ul > li:nth-child(6n) > a
		transition-delay 300ms

	.header-wrap.minimal-menu .primary-menu > ul > li:nth-child(7n) > a
		transition-delay 350ms
		
	.header-wrap.minimal-menu .primary-menu > ul > li:nth-child(8n) > a
		transition-delay 400ms	

	.header-wrap.minimal-menu .primary-menu > ul > li:nth-child(9n) > a
		transition-delay 450ms
		
	.header-wrap.minimal-menu .primary-menu > ul > li:nth-child(10n) > a
		transition-delay 500ms

.primary-menu ul
	list-style-type none
	margin 0
	padding 0
	li
		position relative
		a
			display block

.primary-menu > ul
	line-height $menu-h
	> li
		display inline-block
		margin-left 40px
		> a
			font-size 16px
			position relative
			font-weight 600
			> span
				line-height 1em
				position relative

.primary-menu > ul > li:first-child
	margin-left 0

.primary-menu > ul > li:not(.current-menu-item) > a:hover
	color $lgray

@media (min-width: 48em)
	.primary-menu > ul > li > a > span
		&::after
			content ''
			position absolute
			bottom -2px
			left 0
			width 0
			height 1px
			opacity 0
			background-color $black
			transition width .3s ease-in-out, opacity .2s ease-in-out
	.primary-menu > ul > li.current-menu-item > a > span,
	.primary-menu > ul > li > a:hover > span
		&::after
			width 100%
			opacity 1

@media (min-width: 48em)
	ul.sub-menu
		min-width 150px
		opacity 0
	.primary-menu > ul > li.menu-item-has-children ul.sub-menu
		visibility hidden
		position absolute
		zoom 1
		z-index 1
		left -20px
		top 130%
		line-height 1em
		background-color $black
		transition top .3s ease-in-out, opacity .3s ease-in-out
		> li
			display block
			> a
				font-weight 400
				padding 12px 20px
				background-color $black
				font-size 13px
				color rgba($white, 60%)
				&:hover
					background-color #151515
					color $white
			&.current-page-item > a
				background-color #151515
				color $white
	.primary-menu > ul > li.menu-item-has-children > ul.sub-menu > li.menu-item-has-children > ul.sub-menu
		left 100%
		top 30%
	.primary-menu > ul > li.menu-item-has-children:hover > ul.sub-menu
		zoom 1
		visibility visible
		opacity 1
		top calc(100% - 7px)
	.primary-menu > ul > li.menu-item-has-children > ul.sub-menu > li.menu-item-has-children:hover > ul.sub-menu
		zoom 1
		visibility visible
		opacity 1
		top 0


@media (max-width: 47.9em)
	
	// Fullwidth container
	.header-wrap
		padding 0
		.container
			max-width 100%
			padding 0
		.logo
			margin-left 15px
		.menu-toggle.mobile-menu-toggle
			margin-right 15px	
	

	// Hidden Desctop Menu Trigger
	.header-wrap.minimal-menu .menu-toggle:not(.mobile-menu-toggle)
		display none
	
	// Hidden menu
	.primary-menu
		display none
		position relative
		width 100%
		ul li
			margin 0
			display block

		ul.sub-menu
			display none
			> li > a
				font-size 14px
				font-weight 400

	// Mobile Menu
	.primary-menu > ul
		display block
		width 100%
		line-height 35px
		li
			display block
			&:not(.sub-active):hover > a,
			&.sub-active > a
				background-color #151515
				color $white
		a
			display block
			background-color $black
			padding 10px 15px
			font-weight 600
			font-size 16px
			color rgba($white, 60%)	

	li.menu-item-has-children > a::after
		float right
		font-size 12px
		font-weight 400
	li.menu-item-has-children:not(.sub-active) > a::after
		content '\f0d7'
		font-family 'FontAwesome'
	li.menu-item-has-children.sub-active > a::after
		content '\f0d8'
		font-family 'FontAwesome'
	ul li.current-menu-item > a
		background-color #151515
		color $white
	
	ul li.current-page-item > a
		background-color lighten(#151515, 2%)
		color $white

@media (min-width: 48em)
	.primary-menu, .sub-menu
		display block !important
	.menu-toggle.mobile-menu-toggle
		display none !important


@media (min-width: 48em)
	.menu-toggle.mobile-menu-toggle
		display none !important