/*----------------------*/ 
/*   CAPTION IMAGE      */ 
/*----------------------*/

.img-with-caption
	position relative
	margin-bottom 30px
	.caption
		position absolute
		top 0
		left 0
		margin 15px
		opacity 0
		padding 4px 20px
		background-color $white
		letter-spacing 3px
		font-size 11px
		font-weight 700
		font-family $f1
		text-transform uppercase
		color $black
		transition all .3s ease-in-out
		transform scaleY(0)
		transform-origin bottom

.img-with-caption:hover .caption
	transform scaleY(1)
	opacity 1

.img-with-caption:last-child
	margin-bottom 0

/*----------------------*/ 
/*   TITLE              */ 
/*----------------------*/

.small-title
	margin-bottom 30px
	h1, h2, h3, h4, h5, h6
		margin 0

.large-title
	margin-bottom 60px
	h1, h2, h3, h4, h5, h6
		margin 0

.large-title
	i
		font-size 36px
		margin-bottom 30px
		display inline-block
		color $color


/*----------------------*/ 
/*   PROGRESS BAR       */ 
/*----------------------*/

$triangle = 7px

.progress-bar
	margin-bottom $triangle + 3px
	overflow hidden
	position relative
	h6
		margin 5px 0 0
		font-weight 700
		font-family $f1
		line-height 1.2em
		

.progress-outer
	position relative
	height 3px
	width 100%
	background-color $dwhite
	margin-top $triangle * 2
	.progress-inner
		position absolute
		width 0
		top 0
		left 0
		height 100%
		background-color $black
		&::after
			content ''
			position absolute
			top -($triangle)
			right -($triangle - 1px)
			width 0
			height 0
			z-index 55
			border-left $triangle solid transparent
			border-right $triangle solid transparent
			border-top $triangle solid $black

/*----------------------*/ 
/*   OUR TEAM           */ 
/*----------------------*/

.team-item
	position relative
	&::after
		content ''
		position absolute
		display block
		z-index 1
		top 0
		left 0
		right 0
		bottom 0
		opacity 0
		transition opacity .3s ease-in-out
		background-color rgba(#151515, 90%)
	&:hover::after
		opacity 1

.team-name,
.team-function
	transition all .3s ease-in-out
	white-space nowrap
	webkit-font-smoothing antialiased
	-khtml-font-smoothing antialiased
	-apple-font-smoothing antialiased

.team-name,
.team-function
	opacity 0

.team-content
	position absolute
	z-index 2
	text-align center
	padding 30px
	left 0
	top 50%
	width 100%
	transform translateY(-50%)
	
.team-name
	font-size 24px
	color $white
	font-weight 700
	margin-bottom 6px
	
.team-function
	transform translateY(20px)
	color $lgray

.team-item:hover 
	.team-name
		animation bounce .45s .09s forwards
		opacity 1
	.team-function
		transform translateY(0)
		opacity 1
		
@media (max-width: 47.9em)
	.team-item
		margin-bottom 30px

/*----------------------*/ 
/*   PARTNER / CLIENT   */ 
/*----------------------*/

.logo-wrap
	display table
	width 100%
	height 150px
	> a
		display table-cell
		vertical-align middle
		text-align center
		opacity .8
		transition all .3s ease-in-out
		&:hover
			opacity 1
		img
			max-height 65px
			display inline-block


/*----------------------*/ 
/*   ICON LIST          */ 
/*----------------------*/

.icon-list-default 
	a
		color $black
		transition color .3s ease
		font-size 18px
		width 30px
		display inline-block
		&:hover
			color $color
	a + a
		margin-left 4px


.icon-list
	a
		position relative
		vertical-align middle
		display inline-block
		margin 0 2px
		height 40px
		width 40px
		text-align center
		line-height 40px
		color $black
		transition color .3s ease
		i
			position relative
			z-index 2
		&::after
			content ''
			display block
			position absolute
			background-color $black
			top 0
			bottom 0
			right 0
			left 0
			border-radius 50%
			z-index 1
			opacity 0
			transform scale(.5)
			transition transform .3s ease, opacity .3s ease
		&:hover
			color $white
			&::after
				transform scale(1)
				opacity 1


/*----------------------*/ 
/*   BUTTONS            */ 
/*----------------------*/

.button
	display inline-block
	text-align center
	outline none
	font-size 11px
	padding 15px 30px 15px 33px
	letter-spacing 3px
	font-family $f1
	font-weight 700
	text-transform uppercase
	color $black
	border none
	transition all .3s ease-in-out
	background-color transparent
	border 2px solid $black
	&:hover
		background-color $black
		color $white
	
.button-black
	background-color $black
	color $white
	&:hover
		background-color lighten($black, 5%)
		color $white

.button-white
	background-color transparent
	border 2px solid $white
	color $white
	&:hover
		background-color $white
		color $black

.button-success
	background-color transparent
	border 2px solid #5cb85c
	color #5cb85c
	&:hover
		background-color #5cb85c
		color $white
		
.button-info
	background-color transparent
	border 2px solid #5bc0de
	color #5cb85c
	&:hover
		background-color #5bc0de
		color $white

.button-warning
	background-color transparent
	border 2px solid #f0ad4e
	color #5cb85c
	&:hover
		background-color #f0ad4e
		color $white

.button-alert
	background-color transparent
	border 2px solid #d9534f
	color #5cb85c
	&:hover
		background-color #d9534f
		color $white


.button-block
	display block
	width 100%

.link
	font-family $f1
	font-weight 700
	border-bottom 1px solid rgba($black, .15)
	transition all .3s ease-in-out, padding .2s ease
	&:hover
		color $black
		border-color $black

/*----------------------*/ 
/*   CONTACT FORM       */ 
/*----------------------*/

.return-msg
	margin 0
	
.return-msg.show-return-msg
	display block
	text-align center
	letter-spacing 3px
	font-size 11px
	font-weight 700
	text-transform uppercase
	padding 15px
	font-family $f1
	background-color $black
	color $white
	margin-bottom 20px

/*----------------------*/ 
/*   PRICING TABLE      */ 
/*----------------------*/

.pricing-table
	padding 30px
	text-align center
	border 2px solid $dwhite
	transition border .15s ease
	
.price-header, .price-footer
	padding 10px 0
		
.price-header 
	span
		display block
	i
		font-size 36px
		display inline-block
		color $black

.price-name
	font-size 18px
	font-weight 700
	font-family $f1
	margin 10px 0 5px
	padding-bottom 10px
	position relative
	&::after
		content ''
		position absolute
		bottom 0
		left 50%
		width 30px
		margin-left -15px
		height 1px
		background-color $lgray

.price
	font-size 44px
	margin-top 30px
	margin-bottom 5px
	font-weight 700
	
.price-body
	padding 20px 0
	ul
		list-style-type none
		margin 0
		padding 0
		li
			line-height 45px
			border-bottom 1px solid $dwhite
			&:last-child
				border none

.pricing-table:hover
	border-color $black

@media (max-width: 47.9em)
	.pricing-table
		margin-bottom 30px

/*----------------------*/ 
/*   TESTIMONIALS       */ 
/*----------------------*/

.testimonial-wrap
	color $white
	text-align center
	padding 70px 0

.testimonial-carousel
	overflow hidden

.testimonial-content
	color $dwhite
	margin 0
	padding 0
	&::before
		content ''

.testimonial-title
	h5
		font-family $f1
		text-transform uppercase
		font-size 12px
		color $white
		font-weight 700
		letter-spacing 3px
		margin-top 15px
	i
		font-size 42px
		color $white
		display block
		margin 30px 0

.testimonial-author
	margin-top 20px
	display block
	color $lgray

.testimonial-pagination
	margin-top 30px

/*----------------------*/ 
/*   OVERLAY            */ 
/*----------------------*/

.vl-overlay-dark,
.vl-overlay-light
	position relative
	&::before
		content ''
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		z-index -1
	~ div
		position relative
		z-index 2


.vl-overlay-dark::before
	background-color rgba(#151515, 90%)

.vl-overlay-light::before
	background-color rgba(#ffffff, 90%)

/*----------------------*/ 
/*   SERVICE BOX        */ 
/*----------------------*/

.service-box
	display block
	overflow hidden
	position relative

.service-content
	padding 0 40px
	i
		font-size 36px
		margin-bottom 20px
		display inline-block
		color $color
	h4
			font-weight 700
	p
		margin-bottom 0

.service-sep
	height 60px
	width 100%

@media (max-width: 47.9em)
	.service-content
		padding 0 20px
	.service-box
		margin-bottom 60px
	.service-sep
		height 0
		
/*----------------------*/ 
/*   GOOGLE MAP         */ 
/*----------------------*/

.map-wrap
	position relative
	overflow hidden

.map-content-wrap
	position absolute
	bottom 0
	left 0
	height 100%
	width 100%
	cursor pointer
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	background-color rgba($black, 90%)
	transition all .3s ease-in-out
	.map-content
		position absolute
		top 50%
		transform translateY(-50%)
		line-height 1em
		left 0
		right 0
		font-size 18px
		text-align center
		color $white
		
.close-map
	display none

.map-open
	.map-content-wrap
		height 50px
	.open-map
		display none
	.close-map
		display block
		
/*----------------------*/ 
/*   CONTACT BOX        */ 
/*----------------------*/

.contact-box
	margin-bottom 30px
	cursor default
	i
		font-size 36px
		margin-bottom 30px
		display inline-block
		color $color
	p
		transition all .2s ease-in-out
	&:hover p
		opacity .6
		
@media (max-width: 33.9em)
	.contact-box
		margin-bottom 30px
		
