/*----------------------*/ 
/*   WIDGET             */ 
/*----------------------*/

.widget-wrap
	padding 20px
	margin-bottom 30px
	background-color lighten($dwhite, 80%)

.widget-wrap:last-child
	margin-bottom 0

.widget-title
	position relative
	color $black
	margin-bottom 20px
	font-size 18px
	letter-spacing .4px
	&::before
		content ''
		background-color $dwhite
		display block
		height 1px
		position absolute
		top 50%
		width 100%
	span
		background-color lighten($dwhite, 80%)
		padding 0 15px 0 0
		position relative
		z-index 1
		
.widget-wrap a:hover
	color $color

/*----------------------*/ 
/*   WIDGET SEARCH      */ 
/*----------------------*/

.search-form
	position relative
	input
		margin 0
		padding-right 52px
		&:focus ~ i
			color $black
	i
		position absolute
		top 0
		right 0
		height 52px
		width 52px
		line-height 52px
		text-align center
		color $dwhite
		display inline-block
		transition all .4s ease
		


/*----------------------*/ 
/*   WIDGET RESENT POST */ 
/*----------------------*/

.widget-recent-posts ul
	margin 0
	padding 0
	list-style-type none
	li
		position relative
		padding 6px 0
		clear both
		figure
			float left
			width 80px
			margin 0 10px 0 0
			padding 0
		a
			display block
			font-weight 600
			letter-spacing .4px
			
/*----------------------*/ 
/*   WIDGET TAGS        */ 
/*----------------------*/

.tag-cloud a
	padding 0
	margin-right 6px
	font-size 14px
	font-weight 600
	line-height 1em
	letter-spacing .4px
	color $black
	display inline-block
	&::before
		content '#'